APP_NAME="Countries App"
APP_ENV=local
APP_KEY=base64:6J8FpJkRa0HOER4Q3vgEPHOyf+DARlEJR4Nax7sqA38=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=debug

SESSION_DRIVER=file
SESSION_LIFETIME=120

CACHE_STORE=file

# Countries API cache
# COUNTRIES_CACHE_KEY=countries:all
# COUNTRIES_CACHE_TTL=3600

# Auth0
AUTH0_DOMAIN=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_AUDIENCE=
